* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-family: sans-serif;
  font-weight: normal;
  background-color: rgb(67, 14, 117);
}

#refresh-btn {
  border: 1.3px solid rgb(151, 147, 147);
  border-radius: 4px;
  margin: 0 0 0 31.4%;
  padding: 0 4px 0 4px;
  margin-left: 31.4%;
}

.header-section {
  margin: 25px 0 0 100px;
  background:
    linear-gradient(
      to right,
      #ef5350,
      #f48fb1,
      #7e57c2,
      #2196f3,
      #26c6da,
      #43a047,
      #eeff41,
      #f9a825,
      #ff5722
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: bolder;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.header-section:hover {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
}

.main-work {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 10px;
  margin: 20%;
  gap: 40px;
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background-color: white;
  overflow: scroll;

}

#refresh-score {
  display: flex;
  gap: 165px;
  
}

table {
  margin-top: 10px;
  border: 2px solid #8683839e;
  border-collapse: collapse;
}

tr,
th {
  border: 2px solid rgba(238, 236, 236, 0.7);
  padding: 10px 10px;
}

tbody,
tr,
td {
  border: 2px solid rgb(238, 236, 236, 0.7);
  padding: 8px 8px;
}

tr:nth-child(even) {
  background-color: rgb(247, 243, 243);
}

tr:nth-child(odd) {
  background-color: rgb(241, 130, 130);
}

aside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#score-form {
  display: flex;
  flex-direction: column;
}

input[type=text],
input[type=number] {
  margin: 15px 8px 15px 0;
}

#btn {
  border-radius: 4px;
  margin-left: 430px;
}


@media screen and (max-width: 786px) {
  .main-work {
    display: flex;
    flex-direction: column-reverse;
  }

  section {
    width: 100%;
  }

  #refresh-btn {
    border: none;
    margin: 4px 2px;
    margin-left: 32%;
  }

  #refresh-score {
    display: flex;
    gap: 142px;
  }

  aside {
    width: 100%;
  }

  #btn {
    width: auto;
    margin-left: 400px;
  }
}
